<div class="post-recent">
    <hr>
    <br/>
    <div class="pre" style='display:inline;'>
        {% if page.previous %}
         이전 포스트
        {% endif %}
    </div>
    <div class="nex" style='display:inline;'>
        {% if page.next %}
        다음 포스트
        {% endif %}
    </div>
    <div class="pre" style='display:inline;'>
        {% if page.previous %}
        👈 <a href="{{ page.previous.url | prepend: site.baseurl }}">{{ page.previous.title }}</a>
        {% endif %}
    </div>
    <div class="nex" style='display:inline;'>
        {% if page.next %}
        <a href="{{ page.next.url | prepend: site.baseurl }}">{{ page.next.title }}</a> 👉
        {% endif %}
    </div>
</div>
